<div class="action-menu">
  <%= link_to "Home", "/" %>
</div>
<div class="flex-container">
  <div class="journal-entry flex-content">
    <div class="journal-heading">
      <h1 class="journal-title">
        <%= current_journal.title %>
      </h1>

      <p class="date">
        <%= @entry.created_at.strftime('%B %d, %Y') %>
      </p>
    </div>

    <ul class="responses">
      <% @responses.each do |response| %>
        <li class="response-item">
          <%= render_prop :response, response: response %>
        </li>
      <% end %>
    </ul>

    <%= link_to action_path(:delete_entry),
        method: :post, remote: true, class: "trash" do %>
          <%= image_tag("trash.svg") %>
    <% end %>


    <!-- <%= render_prop 'actions_bar' %> -->
  </div>
</div>
