<%= form_with(model: question,
              url: scenes_journal_add_question_path(journal_id), class: "new-question-form") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :body, placeholder: "Enter new question..." %>
  <%= form.submit "Add" %>
<% end %>
