<%= form_with(model: question, url: resource_questions_path(question), class: "new-question-form") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :journal_id, value: journal_id %>

  <%= form.text_field :body, placeholder: "Enter new question..." %>
  <%= form.submit "Add" %>
<% end %>
