<div class="flex-container">
  <div class="journal flex-content">

    <h1 class="h1-like journal-title">
      <%= editable_text_for(current_journal, :title) %>
    </h1>

    <p class="journal-caption">
      <%= editable_text_for(current_journal, :caption, placeholder: "Enter a caption for your journal...") %>
    </p>

    <div class="actions">
      <%= link_to "#", class: "icon-button dull", data: { action: "showCard", "card-tag": "history" } do %>
        <div class="icon-button--image">
          <img src="<%= asset_path('history') %>" />
        </div>
        <div class="icon-button--text">
          History
        </div>
      <% end %>

      <%= link_to scene_path(:active_journal),
          class: "icon-button large" do %>
        <div class="icon-button--image">
          <img src="<%= asset_path('pencil') %>" />
        </div>
        <div class="icon-button--text">
          Start
        </div>
      <% end %>

      <%= link_to "#", class: "icon-button dull", data: { action: "showCard", "card-tag": "questions" } do %>
        <div class="icon-button--image">
          <img src="<%= asset_path('question') %>" />
        </div>
        <div class="icon-button--text">
          Questions
        </div>
      <% end %>

    </div>

    <%= render_prop :questions_card %>
    <%= render_prop :history_card %>
  </div>
</div>
