<h1>Sign Up</h1>


<%= form_for(@user, url: registration_path(@user)) do |f| %>

  <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  <%= f.submit "Sign up" %>
<% end %>

<%= render_prop :oauth_links %>

<div class="card-action">
  Already have an account? <%= link_to "Login", "#", class: "show-login-tab" %>
</div>
